.sidebar-icons{
   padding-inline: 20px;
   width: 60px;
   overflow: hidden;
   transition: 0.3s ease-in-out;
}
.sidebar-icons-true{
   padding-inline: 20px;
   width: 150px;
   transition: 0.3s ease-in-out;
}

.icon-items-sidebar{
    display: flex;
    /* position: fixed; */
    /* margin-top: 30px; */
    align-items: center;
    /* left: 5px; */
    cursor: pointer;
    width: 100%;
    transition: 0.5s ease-in-out;
}
.sidebar-icons{
}
.icon-items-sidebar:hover{
    /* border-bottom: 1px solid black; */
    text-decoration: underline;
    color: black;
}


.icon-menu{
    position: absolute;
}
